<!--
The below is the sample template used to send the mail
--!>
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">

 

<head>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=us-ascii">

<meta name=Generator content="Microsoft Word 12 (filtered medium)">

<!--[if !mso]>

<style>

v\:* {behavior:url(#default#VML);}

o\:* {behavior:url(#default#VML);}

w\:* {behavior:url(#default#VML);}

.shape {behavior:url(#default#VML);}

</style>

<![endif]-->

<style>


</style>

<!--[if gte mso 9]><xml>

 <o:shapedefaults v:ext="edit" spidmax="2050" />

</xml><![endif]--><!--[if gte mso 9]><xml>

 <o:shapelayout v:ext="edit">

  <o:idmap v:ext="edit" data="1" />

 </o:shapelayout></xml><![endif]-->

</head>

<BODY lang=en-US dir=ltr text=#000000 vLink=#0000ff link=#0000ff
	bgColor=#ffffff>
	<div style="bgcolor=#F6F6F6; min-width:332px;max-width:800px; border: 1px solid #EEECCC;">
	<table bgcolor="#E6E6E6" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:800px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
	
	<tbody><tr><td height="30px" colspan="3"></td></tr>
	<tr><td width="32px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#000000;line-height:1.25">Inscription de l'utilisateur</td><td width="32px"></td></tr>
	<tr><td height="18px" colspan="3"></td></tr>
	</tbody>
	</table>
	
	<table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:800px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
	
	<tbody><tr><td height="72px" colspan="3"></td></tr><tr><td width="32px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:#000000;line-height:1.25">
	$!VO.message
	<!-- Dear Bolaji Afolabi. <br/><br/>
	Congratulations! You have been successfully enroled on the a Firstmonie Agent Banking platform!.  <br/><br/>
	Your USER ID is : BOALJI --></td><td width="32px"></td></tr><tr><td height="18px" colspan="3"></td></tr>
	
	<tr><td height="20px" colspan="3"></td></tr><tr><td width="30px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:#000000;line-height:1.25">Veuillez noter que votre identifiant et votre code PIN sont applicables sur tous nos canaux. Cependant, il vous sera demandé de changer le code PIN par défaut lors du premier processus de connexion.</td><td width="32px"></td></tr><tr><td height="18px" colspan="3"></td></tr>
	<tr><td height="22px" colspan="3"></td></tr><tr><td width="30px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:#000000;line-height:1.25">Votre code PIN vous sera envoyé via un courrier électronique séparé; s'il vous plaît garder confidentiel. FirstBank ne vous demandera jamais vos identifiants de connexion.</td><td width="32px"></td></tr><tr><td height="18px" colspan="3"></td></tr>
	
	<tr><td height="20px" colspan="3"></td></tr><tr><td width="30px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:#000000;line-height:1.25">Pour plus d'informations ou pour obtenir de l'aide, appelez le  +224 620 71 35 42 ou envoyez un courriel à <a href="#"> $!VO.helpdeskMail</a>.</td><td width="32px"></td></tr><tr><td height="18px" colspan="3"></td></tr>
	
	<tr><td height="20px" colspan="3"></td></tr><tr><td width="30px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:#000000;line-height:1.25">S'il vous plait ne répondez pas à cet email.</td><td width="32px"></td></tr><tr><td height="18px" colspan="3"></td></tr>
	
	
	</tbody>
	</table>
	<table bgcolor="#E6E6E6" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:800px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
	
	<tbody>
	<tr><td height="20px" colspan="3"></td></tr>
	<tr><td width="32px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:20px;color:#000000;line-height:1.25">Je vous remercie</td><td width="32px"></td></tr>
	<tr><td height="10px" colspan="3"></td></tr>
	<tr><td width="32px"></td><td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:20px;color:#000000;line-height:1.25">Équipe bancaire Firstmonie Agent</td><td width="32px"></td></tr>
	<tr><td height="10px" colspan="3"></td></tr>
	</tbody>
	</table>
	</div>
	

</BODY>
</html>